<form class="text-center">   
    <div>
        <h1>AGREGAR USUARIOS</h1>
    </div>
    <div>
        <b>Nickname:</b>
        <input type="text-center" placeholder="Ingrese Pseudónimo" required>
    </div>
    <div> 
        <b>Password:</b>
        <input type="password-center" placeholder="Ingrese Contraseña" required>
    </div>
    <div> 
        <b>Roletype:</b>
        <input type="text-center" placeholder="Ingrese un Rol de Usuario" required>
    </div>
    <div>    
        <button type="submit">ADD</button> 
        <button type="submit">CANCEL</button>     
    </div>   
</form>
