@model crudmvc.Models.Users

<form class="text-center">
    <h1>LISTA DE USUARIOS - VISITANTE</h1>    
    <div>
        <table class="tableuslist" style="">
            <tr>
                <th>NICKNAME</th>
                <th>ROLENAME</th>
            </tr>
            <tr>
                <td></td> <!--aqui va el arrobaModelNickname -->
                <td></td> <!--aqui va el arrobaModelRolename -->
            </tr>
        </table>
    </div>
</form> 